<div class="container">
  <main class="jumbotron contactJumbo">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3 class="heading">Contact:</h3>
      </div>
      <div class="col-sm-12 col-md-6">
        <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Rising%20Phoenix%20Tattoo%2C%20West%20Lake%20Street%2C%20Addison%2C%20IL%2C%20United%20States&key=AIzaSyAdd0uhaPDgj2Ry609RJnP1AMekTzY0tYA">
        </iframe>
      </div>
    </div>
  </main>
</div>
