.homeJumbo {
  background: white;
  padding: 40px 0;
  position: relative;
  .carousel {
    .carousel-inner {
      .item {
        @include transition(2s ease-in-out left);
        img {
          display: block;
          width: 500px;
          @media (max-width: $screen-xs-max) { width: 100%; };
          margin: 0 auto;
        }
      }
    }
  }
  .credit-tab {
    position: absolute;
    top: 0px;
    right: 0;
    text-align: center;
    padding: 10px;
    border: $border-default;
    border-right-width: 0;
    p {
      margin: 0;
      font-size: 10px;
      &.name {
        font-size: 12px;
      }
    }
  }
}
