@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Cantarell:400,700);

html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 40px 0;
  font-family: 'Cantarell', sans-serif;
}

.jumbotron {
  padding: 40px 0;
}

// Variables

$border-default: 3px solid black;
