<footer>
  <div class="container">

    <div id="footerContact">
      <p>arthurzitzka@me.com</p>
      <p>Rising Phoenix Tattoo</p>
      <p>19 W Lake St, Addison, IL</p>
      <p>630 / 458 8800</p>
    </div>

    <div id="socialButtons">
      <%= link_to 'http://instagram.com/arthurzitzka', class: "btn btn-social" do %>
        <i class="fa fa-instagram fa-lg"></i>
      <% end %>
      <%= link_to 'https://twitter.com/arthurzitzka', class: "btn btn-social" do %>
        <i class="fa fa-twitter fa-lg"></i>
      <% end %>
      <%= link_to 'https://www.facebook.com/arthurjillz', class: "btn btn-social" do %>
        <i class="fa fa-facebook fa-lg"></i>
      <% end %>
    </div>
  </div>
</footer>