<header>
  <div class="container">
   <!-- <%= link_to image_tag("logo.png", alt: "Arthur Zitzka logo", id: "logoImg"),
            root_path %> -->

    <div id="nameBox">
      <h1 class="name">Arthur Zitzka</h1>
      <h2 class="tag-line">Clean x Friendly x Classic</h2>
    </div>
  </div>
</header>
