footer {
  #footerContact {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    padding: 5px 10px 0 10px;
    border: $border-default;
  }
  #socialButtons {
    display: inline-block;
    float: right;
    height: 60px;
    text-align: center;
    .btn-social {
      margin-left: 20px;
      line-height: 1.6;
      vertical-align: top;
      i {
        margin-top: 8px;
      }
    }
  }
}
