header {
  @media (max-width: $screen-md-max) { text-align: center };
  #nameBox {
    display: inline-block;
    height: 66px;
    a{
      text-decoration: none;
      .name {
        transition: all .4s;
        margin: 0;
        padding: 8px 10px 10px 10px;
        border: $border-default;
        color: black;
        &:hover {
          background: black;
          color: white;
          border-color: white;
          box-shadow: 0 0 0 3px black;
        }
      }
    }
  }
}
