header {
  @media (max-width: $screen-md-max) { text-align: center };
  #nameBox {
    display: inline-block;
    height: 66px;
    vertical-align: top;
    @media (max-width: $screen-md-max) { margin-bottom: 40px; };
    a{
      text-decoration: none;
      .name {
        transition: all .4s;
        margin: 0;
        padding: 8px 10px 10px 10px;
        border: $border-default;
        color: black;
        &:hover {
          background: black;
          color: white;
          border-color: white;
          box-shadow: 0 0 0 3px black;
        }
      }
    }
  }
  .menu {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    @media (min-width: $screen-md) { float: right };
    .menu-item {
      display: inline-block;
      margin: 0 10px;
      color: black;
      &:hover {
        border-bottom: $border-default;
      }
      .menu-header {
        font-size: 20px;
      }
    }
  }
}
