header {
  #logoImg {
    width: 100px;
  }

  #nameBox {
    display: inline-block;
    a{
      text-decoration: none;
      .name {
        margin: 0;
        padding: 8px 10px 10px 10px;
        border: 4px solid black;
        color: black;
      }
    }
  }
}
