.btn {
  transition: all .2s;
}

.btn-social {
  $size: 43px;

  border: 2px solid black;
  color: black;
  border-radius: 1px;
  height: $size;
  width: $size;
  &:hover {
    background: black;
    color: white;
    height: $size + 10px;
  }
}
