<header>
  <div class="container">
   <!--  <%= link_to image_tag("logo.png", alt: "Arthur Zitzka logo", class: "logoImg"),
            root_path,
            id: "logo" %> -->

    <div id="nameBox">
      <h1>Arthur Zitzka</h1>
      <h2>Clean x Friendly x Classic</h2>
    </div>
  </div>
</header>